/*
 * blueprint.css and variables.scss come from node_modules/@blueprintjs/core/dist/
 *
 *= require blueprint.css
 *= require_self
 */

@import 'variables';

body {
  background-color: $light-gray4;
  padding-top: 50px; // Push content down below the nav bar
  margin: 0;
  overflow-y: scroll;
}

#root {
  padding-left: 25px;
  padding-right: 25px;
}

.centered-top-level {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1200px;
}

.main-content {
  padding: 30px 0;
}
